
  <h2>Create your offer</h2>
  <form class="form-control">
    <div class="form-group">
      <div class="row">
        <label for="brand" class="col-sm-2 control-label">Brand</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="brand" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <label for="model" class="col-sm-2 control-label">Type/Model</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="model" />
        </div>
      </div>
    </div>
    <div class="form-group">
        <div class="row">
          <label for="mileage" class="col-sm-2 control-label">Mileage</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" id="mileage" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="image" class="col-sm-2 control-label">Defects</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="image" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="start" class="col-sm-2 control-label">Start date</label>
          <div class="col-sm-4">
            <input type="date" class="form-control" id="start" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="end" class="col-sm-2 control-label">End date</label>
          <div class="col-sm-4">
            <input type="date" class="form-control" id="end" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="deposit" class="col-sm-2 control-label">Deposit</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" id="deposit" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="rent" class="col-sm-2 control-label">Rent</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" id="rent" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="place" class="col-sm-2 control-label">Place</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="place" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label for="date" class="col-sm-2 control-label">Date</label>
          <div class="col-sm-4">
            <input type="date" class="form-control" id="date" />
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Create contract</button>
      </div>
</form>